@model Booking
@using System.Globalization

@{
    // Cek apakah pengguna adalah admin
    var isAdmin = User.IsInRole(SD.Role_Admin);
}

<div class="p-4 mt-0 mt-lg-4" style="background-color: @(isAdmin ? "darkgrey" : "white");">
    <div class="row" style="border: 1px solid #aaa; border-radius: 20px; background-color: @(isAdmin ? "#444" : "white");">
        <div class="col-12 col-lg-6 p-4 mt-2 mt-md-0">
            <div class="row p-1" style="border-radius:20px;">
                <div class="col-6">
                    <h3 class="text-success">Room Details</h3>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-secondary my-2" asp-controller="Booking" asp-action="Index">
                        <i class="bi bi-arrow-left-circle"></i> Back to Bookings
                    </a>
                </div>
                <hr />
                <partial name="_BookingConfirmation" model="@Model" />
                <hr />
                <div class="text-end">
                    <h4 class="text-danger font-weight-bold">
                        Booking Total:
                        <span style="border-bottom:1px solid #ff6a00">
                            @Model.TotalCost.ToString("c", new CultureInfo("id-ID"))
                        </span>
                    </h4>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-12 col-lg-6 p-4 mt-4 mt-md-0" style="border-left:1px solid #aaa; background-color: @(isAdmin ? "#555" : "white");">
            <form method="post">
                <input asp-for="Id" hidden />
                <input asp-for="RoomId" hidden />
                <input asp-for="UserId" hidden />
                <input asp-for="StartDate" hidden />
                <input asp-for="EndDate" hidden />
                <input asp-for="Days" hidden />
                <input asp-for="RoomPackageId" hidden />
                <input asp-for="RoomSetupId" hidden />

                <div class="row pt-1 mb-3" style="border-radius:20px;">
                    <div class="col-6">
                        <h3 class="text-success">Enter Booking Details</h3>
                    </div>
                    <div class="col-6">
                        @if ((Model.Status == SD.StatusPending) && isAdmin)
                        {
                            <button type="submit" asp-controller="Booking" asp-action="CancelBooking" class="btn btn-sm btn-outline-danger form-control my-1">
                                <i class="bi bi-x-circle"></i> &nbsp; Cancel Booking
                            </button>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Name</label>
                        <input asp-for="Name" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Phone</label>
                        <input asp-for="Phone" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Email</label>
                        <input asp-for="Email" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">No. of days</label>
                        <input asp-for="Days" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Status</label>
                        <input asp-for="Status" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Booking Date</label>
                        <input asp-for="BookingDate" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">Start Date</label>
                        <input asp-for="StartDate" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label class="text-warning">End Date</label>
                        <input asp-for="EndDate" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="EventName" class="text-warning">Event Name</label>
                        <input asp-for="EventName" disabled class="form-control" required />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="TotalParticipant" class="text-warning">Total Participant</label>
                        <input asp-for="TotalParticipant" disabled class="form-control" required type="number" />
                    </div>
                </div>
                <div class="form-group pt-2 pt-md-4">
                    @if (isAdmin)
                    {
                        @if (Model.Status == SD.StatusPending)
                        {
                            <button type="submit" asp-controller="Booking" asp-action="Approve" class="btn btn-warning form-control my-1">
                                <i class="bi bi-check2-square"></i> &nbsp; Approve
                            </button>
                        }
                        @if (Model.Status == SD.StatusApproved)
                        {
                            <button type="submit" asp-controller="Booking" asp-action="Complete" class="btn btn-success form-control my-1">
                                <i class="bi bi-clipboard2-check"></i> &nbsp; Complete Booking
                            </button>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>
